.edit__button__small {
	color: var(--color-text-textos-verdes);
	border: none;
	cursor: pointer;
	width: auto;
	height: auto;
	max-height: 10vh;
	margin: 3px;
	padding: 2px 5px;
	border-radius: 10px;
	background-color: var(--color-primary-button);
	font-weight: 600;
	font-size: 16px;
	box-shadow: 0.86px 0.86px 10px var(--color-box-shadow);
}

.edit__button__small:active {
	background-color: var(--color-primary-button-hover);
}

.edit__button__small:hover {
	border: 1px solid var(--color-borde-hover-button);
}

@media screen and (max-width: 768px) {
	.edit__button__small {
		font-size: 10px;
	}
}
