/*------------- CONTAINERS  --------------*/
.dad__container__grid__editpasspro {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}
.container__grid__editpasspro {
	width: 80vw;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 14vh 26vh 10vh;
	background-color: white;
	border-radius: 20px;
	margin: auto;
	box-shadow: 0.86px 0.86px 10px var(--color-box-shadow2);
}

/*------------- CONTENIDO  --------------*/
.editpasspro__flex {
	display: flex;
	justify-content: center;
}

.editpasspro__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
}

.editpass_text {
	padding: 5vw;
	color: red;
}

.primer__parte__editpasspro {
	grid-template-rows: 14vh;
	align-items: center;
	gap: 5vw;
}

.segudan__parte__editpasspro__grid {
	grid-template-rows: 10vh 8vh;
	gap: 2vh 5vw;
}

.tercer__parte__editpasspro_button {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
/*------------- RESPONSIVE WIDTH  --------------*/
@media screen and (max-width: 1200px) {
	.container__grid__editpasspro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.editpasspro__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.tercer__parte__editpasspro_button {
		margin-bottom: 1vh;
	}
}

@media screen and (max-width: 768px) {
	.editpass_text {
		font-size: 13px;
	}

	.tercer__parte__editpasspro_button {
		display: flex;
		flex-direction: column;
		margin-bottom: 1vh;
	}
}

/*------------- RESPONSIVE HEIGHT  --------------*/
@media screen and (max-height: 480px) {
	.editpass_text {
		font-size: 13px;
	}
}
