/*------------- DISPLAY --------------*/

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display_column {
    display: flex;
    flex-direction: column;
}


/*------------- GRIDS --------------*/

.flex_modal_newwallet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options_container_NewModal {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*------------- ADDRESS CURRENCIES --------------*/

.addresspublic_newwallet_container {
    margin: 0;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem 0rem 1rem;
}

.wallet_token_container {
    margin-top: 2rem;
}

.wallet_nickname_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.attributes_in_common_label_input {
    width: 100%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
}

.label_addresspublic_newwallet {
    color: #00272a;
    font-size: 16px;
    text-align: left;
}

.addresspublic_newwallet {
    width: 35vw;
    height: 44px;
    border: none;
    border-radius: 5px;
    background: #176c7710 0% 0% no-repeat padding-box;
}

.currency_input_newwallet,
.nickname_input_newwallet,
.input_token_newwallet {
    width: 17vw;
    height: 44px;
    border: none;
    border-radius: 5px;
    background: #176c7710 0% 0% no-repeat padding-box;
}


/* WALLET ADDRESS */

.wallet_address_container {
    width: 98%;
    margin-top: 2rem;
}


/* BUTTONS */

.button_new_wallet_container {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
}


/*------------- TEXTOS --------------*/

.nickname_input_newwallet {
    text-align: right;
    color: #00272a;
    font-size: 16px;
    font-weight: 500;
}

.label_currency_newwallet,
.label_nickname_newwallet,
.label_token_newwallet {
    color: #00272a;
    font-size: 16px;
    font-weight: 600;
}

.label_nickname_newwallet {
    text-align: right;
}

.input_newwallet_error,
.input_token_error {
    color: red;
    font-size: 15px;
}


/* 
/* Estilos currenciesHidden para realziar validación del formato de la walletAddress */


/*---------------- PROHIBIDO BORRAR) -----------------*/

.currenciesHiddenInput {
    background-color: transparent;
    border: none;
    color: transparent;
}

.currenciesHiddenInput:focus {
    outline: none;
}


/*------------- RESPONSIVE WIDTH --------------*/

@media screen and (max-width: 1199px) {
    .input_nickname_wallet {
        width: 100vw;
    }
    .addresspublic_newwallet {
        width: 50vw;
        height: 5vh;
    }
    .label_currency_newwallet,
    .label_nickname_newwallet,
    .label_token_newwallet {
        color: #00272a;
        font-size: 12px;
        font-weight: 700;
    }
    .nickname_input_newwallet,
    .input_token_newwallet {
        margin-left: 0;
        width: 50vw;
        height: 5vh;
        border-radius: 10px;
    }
    .label_addresspublic_newwallet {
        margin-top: 0;
        font-size: 12px;
        font-weight: 700;
    }
    .input_newwallet_error,
    .input_token_error {
        font-size: 10px;
    }
}

@media screen and (max-width: 550px) {
    .options_container_NewModal {
        width: 70%;
    }
    .addresspublic_newwallet_container {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .options_container_NewModal {
        width: 100%;
    }
    .addresspublic_newwallet_container {
        margin-top: 0.5rem;
    }
}


/*------------- RESPONSIVE HEIGHT --------------*/

@media screen and (max-height: 480px) {
    .addresspublic_newwallet {
        height: 8vh;
    }
    .nickname_input_newwallet,
    .input_token_newwallet {
        height: 8vh;
    }
    .addresspublic_newwallet_container {
        margin-top: 0.5rem;
    }
}