/*------------- SHARE COMPONENT  --------------*/

.share_component {
	width: 5vw;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.text_img_share {
	color: black;
	font-size: 12px;
	color: var(--color-box-shadow3);
	text-align: center;
}

.share_component_container {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
