.packages_active_green {
	color: var(--color-tablas-state-act);
	font-size: 18px;
	font-weight: 600;
	padding: 1rem;
	width: calc(100% / 3);
}

.warpper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tabs {
	list-style: none;
	margin: 60px auto 0;
	width: 20vw;
	height: 7vh;
	display: flex;
	gap: 1vw;
}

.tab {
	float: left;
	position: relative;
	white-space: nowrap;
	height: 7vh;
}

.tab_name-packages {
	float: left;
	text-align: center;
	width: 15vw;
	padding: 1vh 2vw;
	color: #003d44;
	background: var(--color-primary-button);
	border-radius: 20px;
}

.tabs .active_tab-packages {
	/* Highest, active tab is on top */
	z-index: 10;
}

.tabs .active_tab-packages .tab_name-packages {
	/* Colors when tab is active */
	background: #ffffff;
	height: 80px;
	color: #003d44;
	border-radius: 20px 20px 0 0;
	z-index: 6;
}

.tab:before,
.tab:after,
.tab_name-packages:before,
.tab_name-packages:after {
	/* All pseudo elements are 
        abs. positioned and on bottom */
	position: absolute;
	bottom: 0;
}

/* Only the first, last, and active
    tabs need pseudo elements at all */

.tab:last-child:after,
.tab:last-child a:after,
.tab:first-child:before,
.tab:first-child a:before,
.active_tab-packages:after,
.active_tab-packages:before,
.tab_name-packages:after,
.tab_name-packages:before {
	content: "";
}

.tabs .active_tab-packages:before,
.tabs .active_tab-packages:after {
	background: #ffffff;
	/* Squares below circles */
	z-index: 1;
}

/* Squares */

.tabs li:before,
.tabs li:after {
	background: transparent;
	width: 10px;
	height: 10px;
}

.tabs li:before {
	left: -10px;
}

.tabs li:after {
	right: -10px;
}

/* Circles */

.tabs li a:after,
.tabs li a:before {
	width: 20px;
	height: 20px;
	/* Circles are circular */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* Circles over squares */
	z-index: 2;
}

.tab_name-packages:after,
.tab_name-packages:before {
	background: var(--color-gradiente2);
}

.tab_name-packages:before {
	left: -20px;
}

.tab_name-packages:after {
	right: -20px;
}

.noSelectedWallet_alert_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.noSelectedWallet_alert {
	margin-top: 1vh;
	font-weight: 600;
	padding: 0 0.5rem;
	font-size: clamp(15px 20px 20px);
	color: var(--color-texto-alert-modales);
}

.noSelectedWallet_black_container {
	width: 100%;
	text-align: center;
	word-wrap: break-word;
}

.noSelectedWallet_black {
	font-weight: 600;
	padding: 0 0.5rem !important;
	font-size: clamp(15px 18px 20px);
	color: var(--color-secundary-text-dark);
}

.span_alert_red {
	color: var(--color-texto-alert-modales);
	font-weight: 600;
}

.packages_note_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
}

.text_active_container {
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-items: center;
}

.campaings_text {
	display: flex;
	/* display: none; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin: 5vh auto auto auto;
	box-shadow: 0.86px 0.86px 10px #0000001a;
	min-height: 200px;
	width: 80vw;
	height: auto;
	border-radius: 20px;
	padding: 2rem;
}

.campaign_packages_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	width: 100%;
}

.ul_campaigns_packages {
	width: 90%;
}

.list_campaigns_packages {
	margin-left: 3rem;
}

@media screen and (max-width: 900px) {
	.text_active_container {
		flex-direction: column;
	}
	.packages_active_green {
		width: 100%;
	}
	.campaings_text {
		width: 100%;
		padding: 1rem;
	}
	.ul_campaigns_packages {
		width: 100%;
	}
	.list_campaigns_packages {
		margin-left: 2rem;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
