.display {
	display: flex;
	justify-content: center;
	align-items: center;
}

.display_evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.grid_modal_changewalletprofits {
	display: grid;
	margin-top: calc(18.75vh / 2);
	grid-template-columns: 39vw;
	grid-template-rows: repeat(3, calc(30vh / 3));
}

.title_changewalletprofits {
	color: #6aa6c4;
	font-size: 30px;
	font-weight: 500;
}

.p_changewalletprofits {
	width: 492px;
	color: #00272a;
	font-size: 16px;
	text-align: center;
}

/*------------- RESPONSIVE WIDTH --------------*/
@media screen and (min-width: 481px) and (max-width: 1199px) {
	.grid_modal_changewalletprofits {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		width: 80vw;
		margin-top: 0%;
	}
	.title_changewalletprofits {
		font-size: 24px;
		font-weight: 600;
	}

	.p_changewalletprofits {
		margin-top: 0;
		width: 60vw;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.grid_modal_changewalletprofits {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 70vw;
		height: 100%;
		margin-top: 0;
	}
	.title_changewalletprofits {
		font-size: 24px;
		font-weight: 600;
	}
	.p_changewalletprofits {
		margin-top: 0;
		width: 70vw;
		font-size: 13px;
	}
}

/*------------- RESPONSIVE HEIGHT --------------*/
@media screen and (max-height: 500px) {
	.grid_modal_changewalletprofits {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 0;
	}
} ;
